<html>
   <head>
        
       <!-- <link rel="stylesheet"
           href="https://pyscript.net/alpha/pyscript.css" />
       <script defer
           src="https://pyscript.net/alpha/pyscript.js">
       </script>
       <py-env>
        - pandas
        - matplotlib
        - numpy
       </py-env> -->
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <meta http-equiv="X-UA-Compatible" content="ie=edge">
       <title>ClipperShip</title>
	   <link href="/css/style.css" rel="stylesheet">
       <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
   </head> 
   <body>
       <header>
           <div class="container">
               <div class="logo">
                   <img src="/html/Images/image.png" alt="ClipperShip">
               </div>
               <div class="main-title">
                   <!-- <h1 >Clipper Ship Foundation</h1> -->
               </div>
               <div class="nav">
                   <ul>
                       <li><a href="https://clippershipfoundation.wordpress.com/" target="_blank">Company Main Page</a></li>
					   <li><a href="/index">Upload Files</a></li>
                       <!-- <li><a href="/about.html">About</a></li> -->
                       <li><a href="/data">Access Data</a></li>
   
                   </ul>
               </div>
           </div>
       </header>

	   <section class="about">
		   <div class="container">
			   <div class="about-text">
				   <h2>About</h2>
				   <p>ClipperShip Foundation is a non-profit organization that provides free shipping services to non-profit organizations. We are a group of students from the University of Massachusetts Boston who are passionate about helping non-profit organizations. We are currently working on a project that will allow non-profit organizations to upload their files to our website and we will ship them for free. We are also working on a project that will allow non-profit organizations to access data from our website. We are currently working on a project that will allow non-profit organizations to upload their files to our website and we will ship them for free. We are also working on a project that will allow non-profit organizations to access data from our website. We are currently working on a project that will allow non-profit organizations to upload their files to our website and we will ship them for free. We are also working on a project that will allow non-profit organizations to access data from our website. We are currently working on a project that will allow non-profit organizations to upload their files to our website and we will ship them for free. We are also working on a project that will allow non-profit organizations to access data from our website. We are currently working on a project that will allow non-profit organizations to upload their files to our website and we will ship them for free. We are also working on a project that will allow non-profit organizations to access data from our website. We are currently working on a project that will allow non-profit organizations to upload their files to our website and we will ship them for free. We are also working on a project that will allow non-profit organizations to access data from our website. We are currently working on a project that will allow non-profit organizations to upload their files to our website and we will ship them for free. We are also working on a project that will allow non-profit organizations to access data from our website. We are currently working on a project that will allow non-profit organizations to upload their files to our website and we will ship them for free. We are also working on a project that will allow non-profit organizations to access data from our website. We are currently working on a project that will allow non-profit organizations to upload their files to our website and we will ship them for free. We are also working on a project that will allow non-profit
					</p>
				</div>
			</div>
		</section>

       <script src="script.js"></script>
	   <footer>
        
			<a href="http://maps.google.com/maps?q=p.o.+box+870138,+milton+village,+ma+02187" target="_blank">
			<span class="contact-info">P.O. Box 870138, Milton Village, MA 02187</span>				
			</a>
			<span class="contact-info">info@clippershipfoundation.org</span>	
			
			
		</footer>
   </body>
       


   </html>

