<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ClipperShip</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/javascript/flask.js"></script>
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
</head>

<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="/html/Images/logo.png" alt="ClipperShip">
            </div>
            <div class="main-title">
                <h1>Clipper Ship Foundation</h1>
            </div>
            <div class="nav">
                <py-script>

                </py-script>
                <ul>
                    <li><a href="https://clippershipfoundation.wordpress.com/" target="_blank">Go To Main Page</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="/data">Access Data</a></li>
                    <%# for(var i = 0; i < moviesList["data"].length; i++) { %>
                        <!-- <p> -->
                        <%# moviesList["data"][i] %>
                            <!-- </p> -->
                            <%# } %>
                </ul>
            </div>
        </div>
    </header>
    <div id="result">

    </div>

</body>

</html>